<template>
    <div class="article_long">
        <h3>Introduction to Genetics Algorithm</h3>
        <p>Reproduce and understand Keras(a python machine learning library) official demo code on LSTM-RNN for sentiment analysis Reproduce and understand Keras(a python machine learning library) official demo code on LSTM-RNN for sentiment analysis Reproduce and understand Keras(a python machine learning library) official demo code on LSTM-RNN for sentiment analysis</p>
        <p> {{msg}} <p>
        <button v-on:click="reverseMessage">Reverse Message</button>
        <p v-if="seen">Now you see me</p>
        <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
        </ol>
        <input v-model="msg">
    </div>
</template>

<script>
{
    `template`: `parent.html_code`,
    `data`: `function(){
      return{
        msg:'hello',
        seen: true,
        todos: [
              { text: 'Learn JavaScript' },
              { text: 'Learn Vue' },
              { text: 'Build something awesome' }
            ]
      }
    }`,
    `created`: `function(){
    }`,
    `methods`: {
        `reverseMessage`: `function () {
            this.msg = this.msg.split('').reverse().join('')
        }`
    }
}
</script>